*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General_start */

.section--general{
    width: 100%;
    background-color: #660000;
}

.container--general{
    width: 960px;
    margin: auto;
}

.item--button--general{
    color: white;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 12px;
    border-radius: 1em;
}

.item--button--general:hover{
    background-color: #76c38f;
}

/* General_end */


/* Navbar_start */

.section--navbar{
    width: 100%;
    background-color: #290000;
}

.navbar__items{
    display: flex;
    align-items: center;
}

.item--navbar--logo{
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.navbar__items__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

/* Navbar_end */


/* Slider_start */

.section--slider{
    width: 100%;
    background-color: #290000;
    padding-bottom: 50px;
}

.slider__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#slider__items__arrow--left{
    left: 0px;
}

#slider__items__arrow--right{
    right: 0px;
}

.slider__items__slides{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.item--slider--text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
}

.item--slider--text__header{
    font-size: xx-large;
    padding-bottom: 20px;
}

.item--slider--text__paragraph{
    font-size: small;

}

.item--slider--image{
    
}

/* Slider_end */


/* Service_start */

.section--service{
    padding-top: 60px;
}

.service__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item--service{
    width: 225px;
    height: 305px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
}

.item--service--image{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    background-color: #ffffff; 
}

/* Service_end */


/* Work_header_start */

.work--header__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.item--work--header{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #353535; 
}

/* Work_header_end */


/* Work_start */

.work__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item--work{
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #353535; 
}

/* Work_end */


/* Info_start */

.section--info{
    width: 100%;
    background-color: #303030;
}


.info__items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info__items__column{
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.info__items__title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.info__items__text{
    color: white;
    margin-bottom: 10px;
}

.info__items__link{
    margin-bottom: 10px;
    color: green;
}

.info__items__textarea{
    margin-bottom: 10px;
}

/* Info_end */


/* Footer_start */

.section--footer{
    width: 100%;
    background-color: #2b2b2b;
}

.footer__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.item--footer--left{
    text-align: left;
    color: white;
}

.item--footer--right{
    text-align: right;
    color: white;
}

/* Footer_end */
