*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia";
}


/* General_start */

.section--general{
    width: 100%;
    background-color: white;
}

.container--general{
    width: 960px;
    margin: auto;
}

.flex--center-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items__bottom__border{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
}

/* General_end */


/* Header_start */

.header__items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* Header: top part START */
.header__items__top{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.header__items__top__social{
    justify-content: space-between;
    width: 200px;
    padding-top: 25px;
}

.header__items__top__social__icon{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #1f1f1f;
}

.header__items__top__social__icon:hover{
    background-color: #ee802f;
}

.social__icon__text{
    color: white;
}

.header__items__top__search{
    justify-content: space-between;
    width: 288px;
    padding-top: 25px;
}

.header__items__top__search__input{
    width: 217px;
    height: 32px;
    border-radius: 10px;
    background-color: #333333;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    outline: none;
    padding-left: 5px;
    text-transform: capitalize;
    border: none;
}

.header__items__top__search__button{
    width: 68px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}
/* Header: top part END */

/* Header: bottom part START */
.header__items__bottom{
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    height: 45px;
}

.header__items__bottom__logo{
    display: flex;
    flex-direction: column;
}

.header__items__bottom__logo__main-text{
    display: flex;
    color: #4a4a4a;
    font-weight: 100;
}

.header__items__bottom__logo__main-text .first-char{
    font-size: 30px;
}

.header__items__bottom__logo__main-text .rest-chars{
    font-size: 26px;
    line-height: 37px;
}

.header__items__bottom__logo__sub-text{
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
    line-height: 0px;
}

.header__items__bottom__navigation{
    display: flex;
    justify-content: space-between;
    width: 530px;
    align-items: flex-end;
}

.header__items__bottom__navigation__item{
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    height: 18px;
    justify-content: center;
    align-items: center;
}

.header__items__bottom__navigation__item:hover{
    color: #3bafbe;
}

/* Header: bottom part END */

/* Header_end */







/* Slider_start */

.slider__items{
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
}

.slider__items__image{
    flex-direction: column;
}

.slider__items__image__background{
    width: 398px;
    height: 237px;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slider__items__image__content{
    width: 365px;
    height: 205px;
    background-color: #333333;
    margin: auto;
}

.slider__items__image__path{
    width: 401px;
    height: 35px;
    border-radius: 10px;
}

.slider__items__image__path__filler{
    background-color: #8c8c8b;
    width: 100%;
    height: 1px;
}

.slider__items__image__base{
    position: relative;
    width: 124px;
    height: 45px;
}

.slider__items__image__base img{
    position: absolute;
    top: -1px;
}

.slider__items__info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.slider__items__info__title{
    font-size: 42px;
    line-height: 50px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.slider__items__info__paragraph{
    width: 497px;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.slider__items__info__button{
    margin-top: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    width: 126px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
    font-weight: 50;
}

.slider__items__info__controls{
    margin-top: 50px;
    justify-content: space-around;
    align-self: flex-end;
    width: 105px;
}

.slider__items__info__controls__ball{
    border-style: solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 3px;
    border-color: #3bafbe;
    background-color: #3bafbe;
}

.slider__items__info__controls__ball:hover{
    background-color: white;
}

/* Slider_end */


/* Intro_start */

.intro__items{
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}

.intro__items__card{
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 50px;
}

.intro__items__card__rect{
    width: 100%;
    height: 160px;
    background-color: #353535;
    font-size: 20px;
    color: #ffffff;
}

.intro__items__card__title{
    text-transform: uppercase;
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro__items__card__text{
    font-size: 13px;
    color: #999999;
    margin-bottom: 20px;
}

.intro__items__card__button{
    width: 106px;
    height: 32px;
    border-radius: 10px;
    background-color: #3bafbe;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;

}

/* Intro_end */


/* Quote_start */

.quote__item{
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote__item__text{
    font-size: 22px;
    line-height: 31px;
    color: #666666;
    text-align: center;
    font-style: italic;
    width: 80%;
}

/* Quote_end */


/* Service_start */

.service__items{
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.service__items__card{
    margin-bottom: 40px;
}

.service__items__card__img{
    border-style: solid;
    width: 90px;
    height: 90px;
    border-color: #d8d8d8;
    border-width: 1px;
    background-color: white;
}

.service__items__card__img__content{
    width: 80px;
    height: 80px;
    background-color: #333333;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}

.service__items__card__info{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.service__items__card__info__title{
    text-transform: capitalize;
    font-size: 13px;
    line-height: 16px;
    color: #3bafbe;
}

.service__items__card__info__text{
    width: 195px;
    font-size: 12px;
    line-height: 19px;
    color: #848c92;
}

/* Service_end */


/* Footer_start */

.section--footer{
    background-color: #252525;
}

.footer__items{
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__items__card{
    display: flex;
    flex-direction: column;
    width: 225px;
    margin-bottom: 40px;
}

.footer__items__card__space{
    height: 6px;
}

.footer__items__card__title{
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.footer__items__card__text{
    font-size: 12px;
    line-height: 19px;
    color: #999999;
    text-transform: capitalize;
}

.footer__items__card__text span{
    color: #3bafbe;
}

.footer__items__card__link{
    font-size: 12px;
    line-height: 14px;
    color: #3bafbe;
    text-transform: capitalize;
}

.footer__items__card__underline{
    width: 100%;
    height: 1px;
    background-color: #2c2c2c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__items__card__blog__title{
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    text-transform: capitalize;
    font-weight: bold;
}

.footer__items__card__blog__link{
    font-size: 12px;
    line-height: 14px;
    color: #3bafbe;
    text-align: right;
    margin-top: 15px;
    text-transform: capitalize;
}

.footer__items__card__input{
    border-width: 0px;
    height: 31px;
    background-color: #2c2c2c;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #989898;
    padding-left: 5px;
}

.footer__items__card__button{
    width: 80px;
    height: 31px;
    border-radius: 7px;
    background-color: #3bafbe;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-style: bold;
}

/* Footer_end */


/* Copyright_start */

.section--copyright{
    background-color: #1a1a1a;
}

.copyright__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
}

.copyright__items__text__left{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    text-transform: capitalize;
}

.copyright__items__text__right{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    text-align: right;
    text-transform: capitalize;
}

/* Copyright_end */

